<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<context:component-scan base-package="com.hu.blservice"></context:component-scan>
	
	<!-- 加载怕配置文件 -->
	<context:property-placeholder location="classpath:db.properties"/>
	<!--  
	<bean id="propertyConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:db.properties"/>
	</bean>
	<bean id="propertyConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:db.properties</value>
			</list>
		</property>
	</bean>
	-->
	
	<!-- 配置数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
		<property name="maxActive" value="30"/>
		<property name="maxIdle" value="5"/>
	</bean>
	
	<!-- 配置SessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<!-- <property name="configLocation" value="classpath:SqlMapConfig.xml"/> -->
		 <property name="typeAliasesPackage" value="com.hu.model"/>
		<property name="mapperLocations" value="classpath:com/hu/mapping/*.xml"/>
	</bean>
	
	<!-- 配置SessionTemplate -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"/>
	</bean>
	
	<!-- 设置事务 不同的数据库访问框架，管理事务的Spring类不同的-->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 事物主方法一定是public的，并且类名要以BL结尾-->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="find*" read-only="true"/><!-- 查询 -->
			
			<tx:method name="exec*" propagation="REQUIRED" rollback-for="java.lang.Exception"/><!-- 执行 -->
		</tx:attributes>
	</tx:advice> 
	
	<!-- 默认proxy-target-class="false"，必须在接口中添加抽象方法，因为对于其实现类的方法调用，只能通过接口引用名。 -->
	<aop:config>
		<aop:pointcut id="bussinessService" expression="execution(public * com.hu.blservice..*BL.*(..))"/>
		<aop:advisor pointcut-ref="bussinessService" advice-ref="txAdvice"/>
	</aop:config>
	<!-- 事物主方法一定是public的，并且类名要以BL结尾-->
	
	<!-- 配置DAO -->
	<bean id="customerDAOimpl" class="com.hu.dao.impl.CustomerDAOimpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	<bean id="deliverydetailDAOimpl" class="com.hu.dao.impl.DeliverydetailDAOimpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	<bean id="deliverymasterDAOimpl" class="com.hu.dao.impl.DeliverymasterDAOimpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	<bean id="productDAOimpl" class="com.hu.dao.impl.ProductDAOimpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	<bean id="purchasedetailDAOimpl" class="com.hu.dao.impl.PurchasedetailDAOimpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
    <bean id="purchasemasterDAOimpl" class="com.hu.dao.impl.PurchasemasterDAOimpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	<bean id="salesmanDAOimpl" class="com.hu.dao.impl.SalesmanDAOimpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	<bean id="supplierDAOimpl" class="com.hu.dao.impl.SupplierDAOimpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	<bean id="userDAOimpl" class="com.hu.dao.impl.UserDAOimpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
	<!-- 配置BL -->
	<bean id="customerBL" class="com.hu.blservice.impl.CustomerBLimpl"/>
	<bean id="deliverydetailBL" class="com.hu.blservice.impl.DeliverydetailBLimpl"/>
	<bean id="deliverymasterBL" class="com.hu.blservice.impl.DeliverymasterBLimpl"/>
	<bean id="productBL" class="com.hu.blservice.impl.ProductBLimpl"/>
	<bean id="purchasedetailBL" class="com.hu.blservice.impl.PurchasedetailBLimpl"/>
	<bean id="purchasemasterBL" class="com.hu.blservice.impl.PurchasemasterBLimpl"/>
	<bean id="salesmanBL" class="com.hu.blservice.impl.SalesmanBLimpl"/>
	<bean id="supplierBL" class="com.hu.blservice.impl.SupplierBLimpl"/>
	<bean id="userBL" class="com.hu.blservice.impl.UserBLimpl"/>

</beans>